        /* -- MAIN --*/
body {
  background: #aa0000;
  background: linear-gradient(90deg, #aa0000 0%, #ce5b4e 44%, #fbceb1 100%);
  font-family: 'Lato', sans-serif;
}


        /* -- PLAYER ZONE -- */
#canvas {
  margin-top: 2rem;
  width: 80%;
  min-height: 80vh;
}

#panel {
  min-height: 80vh;
}


        /* -- PLAYERS STYLES -- */
.player-0-panel .player-1-panel {
  max-height: 100vh;
  padding: 2rem;
}

.active {
  background-color: #F2F4F4;
}

.active .player-name { 
  font-weight: bold; 
}

.player-name {
  font-size: 2rem;
}

.active  .player-name::after {
  content: "\002022 ";
  color: #EB4D4D;
}

.player-score {
  font-size: 5rem;
  color: #EB4D4D;
}

.current-player {
  background-color: #EB4D4D;
  margin: auto;
  width : 30%;
}

.player-current-score {
  font-size: 1.7rem;
}

#dice {
  background-color: #f8f9fa;
  color: #EB4D4D;
  border-radius: 20%;
  height: 5rem;
  width: 5rem;
  box-shadow: 0px 0px 69px -8px rgba(0,0,0,0.35);
}

@keyframes rotate-scale {
  0% {
      transform: scale(1) rotate3d(1, 1, 0, 0deg);
  }
  100% {
      transform: scale(1) rotate3d(1, 1, 0, -360deg);
  }
}

.rotate {
  animation: rotate-scale 1s ease 0s 1 normal forwards;
}


        /* -- BUTTONS -- */
#buttons-box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}


.btn {
  font-size: 1.5rem;
  text-transform: uppercase;
}


        /* -- MEDIA QUERIES -- */
@media all and (max-width: 768px) {
  #panel { height : auto; }
  .player-1-panel, .player-2-panel { padding: 3rem; }
  .player-name { font-size: 1.2rem; }
  .player-current-label { font-size: 0.8rem; }
  .player-score { font-size: 2rem; }
  #canvas { min-height : 80vh; }
  .btn { font-size: 1rem; }
  .buttons-game { display: flex; justify-content:center }
  #dice { height: 3rem; width: 3rem; }
}